/* Navbar */
.navbar-default {
  background-color: #337ab7;
  border: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar .navbar-brand {
  color: white;
}

.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
  color: black;
}

.navbar .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar .navbar-nav>li>a {
  color: white;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
  color: #337ab7;
}

.navbar .navbar-nav .open .dropdown-menu>li>a {
  color: white;
}

.dropdown-header {
  color: white;
}

.sign-up {
  background: white;
  color: #337ab7;
}

/* Jumbotron display */
.jumbotron {
  background-color: #333;
}

.jumbotron .container {
  color: white;
  text-align: center;
}

/* Site features */
.featurette-heading {
  margin-top: 50px;
}

.featurette-divider {
  margin-top: 15px;
  max-width: 400px;
}

.featurette{
  text-align: center;
}

.lead {
  margin: 15px auto 0;
  max-width: 75%;
}

/* Footer */
footer {
  margin-top: 50px;
}

/* Desktops and large screens */
@media screen and (min-width: 768px) {
  /* Navbar */
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #333;
  }

  .dropdown-header {
    color: #777;
  }

  /* Jumbotron */
  .jumbotron {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  /* Features */
  .featurette-heading {
    margin-top: 130px;
  }

  .featurette-divider {
    margin-top: 30px;
    max-width: 400px;
  }

  .lead {
    margin: 30px auto 0;
  }

  /* Footer */
  footer {
    margin-top: 130px;
  }
}
