/* Set form */
.swimmers {
  margin-bottom: 0;
  max-height: 100px;
  overflow: scroll;
}

.swimmer-checklist {
  cursor: pointer;
}

/* Dynamic formset */
.delete-row {
  margin-left: 10px;
}

.dynamic-form-add>td {
  padding-top: 5px;
}

/* Info modal */
.info {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 150px;
}

/* Set content */
.empty-set {
  display: table;
  height: 200px;
  width: 100%;
}

.empty-dialogue {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.reps {
  margin-left: 2em;
}
