/* Set form */
.swimmers {
  margin-bottom: 0;
  max-height: 100px;
  overflow: scroll;
}

.swimmer-checklist {
  cursor: pointer;
}

.swimmer-checkbox {
  width: 50px;
}

/* Dynamic formset */
.delete-row {
  margin-left: 10px;
}

.dynamic-form-add>td {
  padding-top: 5px;
}

/* Set content */
.set-components {
  padding-left: 2em;
}
