!DOCTYPE html>
{% extends "teams/base.html" %}
<html lang="en">
  <head>
    {% block title %}Practice - {{ team.abbr }}{% endblock %}
  </head>

  <body>
    {% block sidebar %}
      <ul class="nav nav-sidebar">
        <li class="dashboard"><a href="{% url 'teams:team_list' %}">Overview <span class="sr-only">(current)</span></a></li>
        <li class="practice"><a href="#">Practice</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>

      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>

      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    {% endblock %}

    {% block page-title %}{{ team.name }}{% endblock %}
    {% block table-title %}Practice{% endblock %}

    {% block action-buttons %}
      <button type="button" class="btn btn-primary btn-md pull-right" style="margin-left: 5px" data-toggle="modal" data-target="#baseModal">
        <span class="glyphicon glyphicon-plus-sign"></span> Add Set
      </button>
    {% endblock %}

    {% block modal %}
      <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Create a Set
              </h4>
            </div>

            <div class="modal-body">
              <form action="#" method="post">
                {% csrf_token %}
                {% for sfield in setForm %}
                  {{ sfield }}
                {% endfor %}
                <hr>

                {{ rep_formset.management_form }}
                {% for rep_form in rep_formset %}
                  {% for field in rep_form %}
                    {{ field }}
                  {% endfor %}
                {% endfor %}

                <br>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-md btn-primary">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>
    {% endblock %}

    {% block content %}

    {% endblock %}
  </body>
</html>
