<!DOCTYPE html>
{% extends "teams/base.html" %}
{% load static from staticfiles %}
{% load datetime_filter %}
<html lang="en">
  <head>
    {% block title %}Write Practice - {{ team.abbr }}{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'teams/css/practice_write.css' %}">
    {% endblock %}
  </head>

  <body>
    {% block sidebar %}
      {{ block.super }}
    {% endblock %}

    {% block page-title %}{{ team.name }}{% endblock %}
    {% block table-title %}
      {{ practice.weekday|title }} Practice

      <!-- Edit current practice -->
      <span data-toggle="modal" data-target="#editModal">
        <button type="button" class="btn btn-default btn-md pull-right" style="margin-left: 5px" data-toggle="popover" data-content="Edit" data-trigger="hover" data-placement="auto bottom">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
      </span>
    {% endblock %}

    {% block action-buttons %}
      <!-- Delete current practice -->
      <a href="{% url 'teams:deletePractice' team.abbr practice.id %}" type="button" class="btn btn-danger btn-md pull-right" style="margin-left: 5px" data-toggle="popover" data-content="Delete" data-trigger="hover" data-placement="auto bottom">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </a>
      <!-- Finish writing practice -->
      <a href="{% url 'teams:practiceSchedule' team.abbr week %}" type="button" class="btn btn-primary btn-md pull-right" style="margin-left: 5px" data-toggle="popover" data-content="Finish" data-trigger="hover" data-placement="auto bottom">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </a>
    {% endblock %}

    {% block modal %}
      <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Create a Set
              </h4>
            </div>

            <div class="modal-body">
              <form id="setForm" action="{% url 'teams:writePractice' team.abbr practice.id %}" method="post">
                {% csrf_token %}
                {{ rep_formset.management_form }}

                <!-- Set form errors -->
                {% if set_form.errors %}
                  {% for field in set_form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger" style="text-align: center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in set_form.non_field_errors %}
                    <div class="alert alert-danger" style="text-align: center">
                        <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}

                <!-- Set form -->
                {% for field in set_form %}
                  {{ field }}
                {% endfor %}
                <hr>


                <!-- Rep form -->
                <table id="reps" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                        {% for form in rep_formset.forms %}
                        <tr>
                           <td>{{ form.num }}</td>
                           <td>{{ form.distance }}</td>
                           <td>{{ form.stroke }}</td>
                           <td>{{ form.rest }}</td>
                           <td>{{ form.comments }}</td>
                           <td class="remove"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>

                <div class="modal-footer">
                  <button type="submit" name="set_create" class="btn btn-md btn-primary">Finish</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>

      <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Create a Set
              </h4>
            </div>

            <div class="modal-body">
              <form id="editForm" action="{% url 'teams:writePractice' team.abbr practice.id %}" method="post">
                {% csrf_token %}
                {{ rep_formset.management_form }}

                <!-- Practice form errors -->
                {% if practiceForm.errors %}
                  {% for field in practiceForm %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger" style="text-align: center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in practiceForm.non_field_errors %}
                    <div class="alert alert-danger" style="text-align: center">
                        <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                {% endif %}

                <!-- Practice form -->
                {% for field in practiceForm %}
                  {{ field }}
                {% endfor %}
                <hr>

                <div class="modal-footer">
                  <button type="submit" name="practice_edit" class="btn btn-md btn-primary">Save</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>

            </div>

          </div>

        </div>
      </div>

      <div id="infoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Writing a Practice
              </h4>
            </div>

            <div class="modal-body">
              <ol>
                <li>
                  Click on the
                  <button type="button" class="btn btn-primary btn-sm info">
                    <span class="glyphicon glyphicon-plus-sign"></span> Add
                  </button>
                  button to begin adding a set.
                </li><br>
                <li>
                  Use the
                  <select class="form-control info">
                    <option>------</option>
                    <option>Warmup</option>
                    <option>Technique</option>
                    <option>Kick</option>
                    <option>Sprint</option>
                    <option>Mid Distance</option>
                    <option>Distance</option>
                    <option>Race</option>
                    <option>Cooldown</option>
                  </select>
                  dropdown to select the focus of the set.
                </li><br>
                <li>
                  Enter the number of times the set is to be repeated.<br>
                  <strong>Note:</strong> entering '1' means the set will only be
                  1x.
                </li><br>
                <li>
                  Enter the order of the set within the practice. '1' is first,
                  '2' is second, and so on. Only one set can be assigned to a number.
                </li><br>
                <li>
                  Enter each rep within the set. Make sure to either enter the amount
                  of rest or select whether the interval should be calculated based
                  on a base training pace or 100 pace.
                </li><br>
                <li>
                  Use the 'add' and 'remove' buttons to add and remove reps as needed.
                </li><br>
                <li>
                  When done, click the 'Finish' button to add the set to the practice.
                </li><br>
                <li>
                  Continue adding sets as desired.
                </li><br>
              </ol>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>

        </div>
      </div>
    {% endblock %}

    {% block content %}
      <!-- Open a modal containing info about writing a practice -->
      <span data-toggle="modal" data-target="#infoModal">
        <button type="button" class="btn btn-default btn-md pull-right" style="margin-left: 5px" data-toggle="popover" data-content="Info" data-trigger="hover" data-placement="auto bottom">
          <span class="glyphicon glyphicon-info-sign"></span>
        </button>
      </span>
      <!-- Add a set to the practice -->
      <span data-toggle="modal" data-target="#baseModal">
        <button type="button" class="btn btn-primary btn-md pull-right" style="margin-left: 5px" data-toggle="popover" data-content="Add" data-trigger="hover" data-placement="auto bottom">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
      </span>

      {% for set in set_list %}
        <!-- Display sets & reps -->
        <div class="set">
          <h3>
            {{ set.order }})
            {{ set.focus|title }}
            {% if set.repeats %}
               - {{ set.repeats }}x
            {% endif %}
          </h3>

          <div class="reps">
            {% for rep in set.rep_set.all reversed %}
              {{ rep.num }} x {{ rep.distance }} {{ rep.stroke }}
              {% if rep.rest %}
                @ {{ rep.rest|format_duration }} rest
              {% endif %}
              {% if rep.comments %}
                - {{ rep.comments }}
              {% endif %}
              <br>
            {% endfor %}
          </div>

        </div>

      {% empty %}

        <!-- Display prompt if no set_list is empty -->
        <div id="first-featurette" class="row featurette empty-set">
          <h2 class="featurette-heading empty-dialogue">
            No sets yet<br>
          </h2>
        </div>

      {% endfor %}
    {% endblock %}

    {% block scripts %}
      <!-- Allow reps to be added or removed from set form -->
      <script type="text/javascript" src="{% static 'django-dynamic-formset/src/jquery.formset.js' %}"></script>
      <script>
        $(function() {
            $('#setForm tbody tr').formset({
              addText: 'Add Rep'
            });
        })
      </script>

      <!-- Disables 'remove' function when there is only one rep -->
      <script>
        $(function() {
          document.getElementsByClassName("remove")[0].style.display = "none";
          document.getElementsByClassName("add-row")[0].addEventListener("click", toggleRemove_onAdd);

          function toggleRemove_onAdd() {
            var row_count = $("#reps tr").length;
            if (row_count <= 2){
              document.getElementsByClassName("remove")[0].style.display = "none";
            } else {
              document.getElementsByClassName("remove")[0].style.display = "table-cell";
            }

            var delete_row = document.getElementsByClassName("delete-row")
            for (var i=0; i<delete_row.length; i++) {
              delete_row[i].addEventListener("click", toggleRemove_onDelete);
            }
          }

          function toggleRemove_onDelete() {
            var row_count = $("#reps tr").length;
            if (row_count <= 2){
              document.getElementsByClassName("remove")[0].style.display = "none";
            } else {
              document.getElementsByClassName("remove")[0].style.display = "table-cell";
            }
          }
        });
      </script>
    {% endblock %}
  </body>
</html>
