<!DOCTYPE html>
{% extends "teams/base.html" %}
{% load static from staticfiles %}
{% load datetime_filter %}
<html lang="en">
  <head>
    {% block title %}Practice Schedule - {{ team.abbr }}{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'teams/css/practice_schedule.css' %}">
    {% endblock %}
  </head>

  <body>
    {% block sidebar %}
      <ul class="nav nav-sidebar">
        <li class="dashboard"><a href="{% url 'teams:teamList' %}">Overview <span class="sr-only">(current)</span></a></li>
        <li class="practice"><a href="{% url 'teams:practiceSchedule' team.abbr 0 %}">Practice</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>

      <ul class="nav nav-sidebar">
        <li><a href="">Nav item</a></li>
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
        <li><a href="">More navigation</a></li>
      </ul>

      <ul class="nav nav-sidebar">
        <li><a href="">Nav item again</a></li>
        <li><a href="">One more nav</a></li>
        <li><a href="">Another nav item</a></li>
      </ul>
    {% endblock %}

    {% block page-title %}{{ team.name }}{% endblock %}
    {% block table-title %}
      Schedule ({{ current.monday|date:"m/d/y" }} - {{ current.sunday|date:"m/d/y" }})
    {% endblock %}

    {% block action-buttons %}
      <!-- Add a practice -->
      {{ block.super }}
    {% endblock %}

    {% block modal %}
      <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Add a Practice
              </h4>
            </div>

            <div class="modal-body">
              <form action="{% url 'teams:practiceSchedule' team.abbr current.id %}" method="post" class="form-signin">
                {% csrf_token %}
                {% if practice_form.errors %}
                  {% for field in practice_form %}
                    {% for error in field.errors %}
                      <div class="alert alert-danger" style="text-align: center">
                          <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  {% endfor %}
                {% endif %}

                <!-- Practice form: sets weekday -->
                {% for field in practice_form %}
                  {{ field.label }}<br>
                  {{ field }}
                {% endfor %}

                <br>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-md btn-primary">Next</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    {% endblock %}

    {% block content %}
      <div class="panel-group" id="accordion">
        <!-- Loop through each practice and display them on each day -->
        <!-- 'Day' sets panel headings even if there is no practice that day -->
        {% for practice, day in practices %}

          <div class="panel panel-info" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ day|title }}
                {% for field, value in dates %}
                  {% if field == day %}
                    - {{ value|date:"m/d" }}
                  {% endif %}
                {% endfor %}
              </h4>
            </div>

            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
              <div class="panel-body">
                <!-- Display practice: same format as when writing -->
                {% if practice.0 %}
                  {% for set in practice.1 %}

                    <h3>
                      {{ set.0.order }})
                      {{ set.0.focus|title }}
                      {% if set.0.repeats %}
                         - {{ set.0.repeats }}x
                      {% endif %}
                    </h3>

                    <div class="reps">
                      {% for rep in set.0.rep_set.all %}
                        {{ rep.num }} x {{ rep.distance }} {{ rep.stroke }}
                        {% if rep.rest %}
                          @ {{ rep.rest|format_duration }} rest
                        {% endif %}
                        {% if rep.comments %}
                          - {{ rep.comments|capfirst }}
                        {% endif %}
                      {% endfor %}
                      <br>
                    </div>

                    <div class="table table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <td></td>
                            <!-- Reps in each set -->
                            {% for rep in set.0.rep_set.all %}
                              <td>{{ rep.num }}x{{ rep.distance }} {{ rep.stroke }}</td>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for swimmer in set.1 %}
                            <tr>
                              <td>{{ swimmer.0.f_name }} {{ swimmer.0.l_name }}</td>
                              <!-- List the interval for each rep for each swimmer -->
                              {% for rep in swimmer.1 %}
                                {% if rep.0.rest %}
                                  <td>{{ rep.0.rest|format_duration }} rest</td>
                                {% elif rep.1 %}
                                  <td>{{ rep.1.time|format_duration }}</td>
                                {% else %}
                                  <td>--</td>
                                {% endif %}
                              {% endfor %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>

                  {% endfor %}

                  <!-- Delete practice -->
                  <a href="{% url 'teams:deletePractice' team.abbr practice.0.id %}" type="button" class="btn btn-danger btn-md pull-right follow-link" style="margin-left: 5px">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                  </a>
                  <!-- Edit practice -->
                  <a href="{% url 'teams:writePractice' team.abbr practice.0.id %}" type="button" class="btn btn-default btn-md pull-right follow-link" style="margin-left: 5px">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                {% endif %}
              </div>
            </div>

          </div>
        {% endfor %}
      </div>
      <a href="{% url 'teams:practiceSchedule' team.abbr previous.id %}" type="button" class="btn btn-primary btn-md pull-left">
        <span class="glyphicon glyphicon-circle-arrow-left"></span>
      </a>
      <a href="{% url 'teams:practiceSchedule' team.abbr next.id %}" type="button" class="btn btn-primary btn-md pull-right" style="margin-left: 5px">
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    {% endblock %}

    {% block scripts %}
      <!-- Highlights sidebar links according to page -->
      <script>
        $(function() {
          var loc = window.location.pathname;
          if(/practice/.test(loc)) {
            $('.practice').addClass('active');
          } else {
            $('.dashboard').addClass('active');
          }
        });
      </script>

      <!-- Fixes bug where links would collapse panels instead of follow link -->
      <script>
        $('.follow-link').click(function(e) {
          e.stopPropagation();
        })
      </script>
    {% endblock %}
  </body>

</html>
