<!DOCTYPE html>
{% extends "teams/base.html" %}
<html lang="en">
  <head>
    <!-- This needs to be team abbreviation or name -->
    {% block title %}Swimmers{% endblock %}
  </head>

  <body>
    <!-- This needs to be <Team Name> Dashboard -->
    {% block page-title %}Swimmer Dashboard{% endblock %}
    {% block table-title %}Swimmers{% endblock %}

    {% block modal-button %}{{ block.super }}{% endblock %}
    {% block modal-title %}Add a Swimmer{% endblock %}
    {% block modal-body %}
      <form action="{% url 'teams:swimmer_list' team.abbr %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          <li>{{ field.label_tag }} {{ field }}</li><br>
        {% endfor %}
        <div class="wrapper">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    {% endblock %}

    {% block table-content %}
      <table id="swimmers" class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Last</th>
            <th>First</th>
            <th>Age</th>
            <th>M/F</th>
          </tr>
        </thead>
        <tbody>
          {% for swimmer in swimmer_list %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ swimmer.l_name }}</td>
              <td>{{ swimmer.f_name }}</td>
              <td>{{ swimmer.age }}</td>
              <td>{{ swimmer.gender }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endblock %}

    {% block scripts %}
    <!--
      <script>
        $(document).ready( function () {
          $('#swimmers').DataTable();
        } );
      </script>
      <script>
        $(document).ready( function () {
          var inputs = document.getElementsByTagName("input");
          for (i=0; i<inputs.length; i++) {
            if (inputs[i].type == "search") {
              inputs[i].id += "table-search";
            }
          }
        } );
      </script>
    -->
    {% endblock %}
  </body>
</html>
