<!DOCTYPE html>
{% extends "teams/base.html" %}
{% load static from staticfiles %}
<html lang="en">
  <head>
    {% block title %}Dashboard{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{% static 'teams/css/team_list.css' %}">
    {% endblock %}
  </head>

  <body>
    {% block page-title %}Dashboard{% endblock %}
    {% block table-title %}Teams{% endblock %}

    <!-- Add a team -->
    {% block action-buttons %}{{ block.super }}{% endblock %}

    {% block modal %}
      <div id="baseModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                Add a Team
              </h4>
            </div>

            <div class="modal-body">
              <form action="{% url 'teams:team_list' %}" method="post" class="form-signin">
                {% csrf_token %}
                <!-- Team form -->
                {% for field in form %}
                  {{ field.label_tag }} {{ field }}<br>
                {% endfor %}

                <br>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-md btn-primary">Submit</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    {% endblock %}

    {% block content %}
      {% if team_list %}
        <!-- Display team in table -->
        <div class="table-responsive">
          <table id="teams" class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Abbr</th>
                <th>Region</th>
                <th>Swimmers</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td><a href="{% url 'teams:swimmer_list' team.abbr %}">{{ team.name }}</a></td>
                  <td>{{ team.abbr }}</td>
                  <td>{{ team.region }}</td>
                  <td>{{ team.swimmer_set.all|length }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      {% else %}

      <!-- Display prompts if no teams -->
        <div id="first-featurette" class="row featurette empty-set">
            <h2 class="featurette-heading empty-dialogue">
              No teams yet.
              <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 3px" data-toggle="modal" data-target="#baseModal">
                <span class="glyphicon glyphicon-plus-sign"></span> Add
              </button>
              a team to get started.
            </h2>
        </div>
      {% endif %}
    {% endblock %}

    {% block scripts %}
      <!-- Highlights sidebar links according to page -->
      <script>
        $(function() {
          var loc = window.location.pathname;
          if(/report/.test(loc)) {
            $('.report').addClass('active');
          } else {
            $('.dashboard').addClass('active');
          }
        });
      </script>

      <!-- Create DataTable from team table -->
      <!-- Need to figure out how to make each entry a link -->
      <!--
      <script>
        $(document).ready( function () {
          $('#teams').DataTable();
        } );
      </script>
      -->

      <!-- Format DataTable search box to fit style -->
      <!--
      <script>
        $(document).ready( function () {
          var inputs = document.getElementsByTagName("input");
          for (i=0; i<inputs.length; i++) {
            if (inputs[i].type == "search") {
              inputs[i].id += "table-search";
            }
          }
        } );
      </script>
      -->
    {% endblock %}
  </body>
</html>
