<!DOCTYPE html>
{% extends "teams/base.html" %}
{% load static from staticfiles %}
<html lang="en">
  <head>
    {% block title %}Training{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'teams/css/training_create.css' %}">
    {% endblock %}
  </head>

<body>
  {% block sidebar %}
    {{ block.super }}

    <ul class="nav nav-sidebar">
      <li class="header">Training Model</li>
      <li><a href="" data-toggle="modal" data-target="#infoModal">Info</a></li>
    </ul>
  {% endblock %}

  {% block page-title %}Training{% endblock %}
  {% block table-title %}Create Training Model{% endblock %}

  {% block modal %}
    <div id="infoModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              Writing a Practice
            </h4>
          </div>

          <div class="modal-body">
            <ol>
              <li>
                Click on the
                <button type="button" class="btn btn-primary btn-sm info">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add
                </button>
                button to begin adding a set.
              </li><br>
              <li>
                Use the
                <select class="form-control info">
                  <option>------</option>
                  <option>Warmup</option>
                  <option>Technique</option>
                  <option>Kick</option>
                  <option>Sprint</option>
                  <option>Mid Distance</option>
                  <option>Distance</option>
                  <option>Race</option>
                  <option>Cooldown</option>
                </select>
                dropdown to select the focus of the set.
              </li><br>
              <li>
                Enter the number of times the set is to be repeated.<br>
                <strong>Note:</strong> entering '1' means the set will only be
                1x.
              </li><br>
              <li>
                Enter the order of the set within the practice. '1' is first,
                '2' is second, and so on. Only one set can be assigned to a number.
              </li><br>
              <li>
                Enter each rep within the set. Make sure to either enter the amount
                of rest or select whether the interval should be calculated based
                on a training pace or 100 pace.
              </li><br>
              <li>
                Use the 'add' and 'remove' buttons to add and remove reps as needed.
              </li><br>
              <li>
                When done, click the 'Finish' button to add the set to the practice.
              </li><br>
              <li>
                Continue adding sets as desired.
              </li><br>
            </ol>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>

      </div>
    </div>
  {% endblock %}

  {% block content %}
    <form id="training_form" action="{% url 'teams:createTraining' t_id %}" method="post">
      {% csrf_token %}
      {{ multiplier_formset.management_form }}

      <!-- Training form errors -->
      {% if training_form.errors %}
        {% for field in training_form %}
          {% for error in field.errors %}
            <div class="alert alert-danger" style="text-align: center">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in training_form.non_field_errors %}
          <div class="alert alert-danger" style="text-align: center">
              <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <!-- training form -->
      {{ training_form.team }}
      <hr>


      <!-- Multiplier form -->
      <div class="col-sm-12" style="padding: 0">
        <table id="mult" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              {% for multiplier_field in multiplier_formset %}
                <tr>
                  {{ multiplier_field.errors }}
                  {{ multiplier_field.id }}
                  <td>{{ multiplier_field.focus }}</td>
                  <td>{{ multiplier_field.multiplier }}</td>
                  <td class="remove"></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>

      <a href="{% url 'teams:showTraining' %}" type="button" class="btn btn-danger pull-right" style="margin-left: 5px">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </a>
      <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-left: 5px">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </form>
  {% endblock %}

  {% block scripts %}
    <!-- Allow reps to be added or removed from set form -->
    <script type="text/javascript" src="{% static 'django-dynamic-formset/src/jquery.formset.js' %}"></script>
    <script>
      $(function() {
          $('#training_form #mult tbody tr').formset({
            addText: 'Add'
          });
      })
    </script>

    <!-- Disables 'remove' function when there is only one rep -->
    <script>
      $(function() {
        document.getElementsByClassName("remove")[0].style.display = "none";
        document.getElementsByClassName("add-row")[0].addEventListener("click", toggleRemove_onAdd);

        function toggleRemove_onAdd() {
          var row_count = $("#mult tr").length;
          if (row_count <= 2){
            document.getElementsByClassName("remove")[0].style.display = "none";
          } else {
            document.getElementsByClassName("remove")[0].style.display = "table-cell";
          }

          var delete_row = document.getElementsByClassName("delete-row")
          for (var i = 0; i < delete_row.length; i++) {
            delete_row[i].addEventListener("click", toggleRemove_onDelete);
          }
        }

        function toggleRemove_onDelete() {
          var row_count = $("#mult tr").length;
          if (row_count <= 2){
            document.getElementsByClassName("remove")[0].style.display = "none";
          } else {
            document.getElementsByClassName("remove")[0].style.display = "table-cell";
          }
        }
      });
    </script>
  {% endblock %}
