<!DOCTYPE html>
{% extends "teams/base.html" %}
{% load static from staticfiles %}
<html lang="en">
  <head>
    {% block title %}Training{% endblock %}
    {% block stylesheets %}
      <link rel="stylesheet" href="{% static 'teams/css/training_create.css' %}">
    {% endblock %}
  </head>

<body>
  {% block sidebar %}
    {{ block.super }}
  {% endblock %}

  {% block page-title %}Training{% endblock %}
  {% block table-title %}
    Create Training Model
    <a type="button" href="" data-toggle="modal" data-target="#infoModal" class="btn btn-md btn-default pull-right" style="margin-left: 5px">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
  {% endblock %}

  {% block modal %}
    <div id="infoModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              Writing a Practice
            </h4>
          </div>

          <div class="modal-body">
            <ol>
              <li>
                Select a team
              </li><br>
              <li>
                Use the
                <select class="form-control info">
                  <option>------</option>
                  <option>Warmup</option>
                  <option>Technique</option>
                  <option>Kick</option>
                  <option>Sprint</option>
                  <option>Mid Distance</option>
                  <option>Distance</option>
                  <option>Race</option>
                  <option>Cooldown</option>
                </select>
                dropdown to select the focus.
              </li><br>
              <li>
                Enter a percentage. This is the percentage of the base pace that is
                added or subtracted from the base pace.<br><br>

                <strong>Note:</strong> If 0.07 or 7% is entered, 7% will be added
                to the base time to calculate intervals. If -0.07 or -7% is entered,
                7% will be subtracted.
              </li><br>
              <li>
                Click "Add" to modify more than one focus. There can only be one
                per focus.
              </li><br>
            </ol>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- Training model edit cancel confirmation -->
    <div id="cancelModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              Cancel
            </h4>
          </div>

          <div class="modal-body">
            Are you sure you want to cancel? Any changes will be lost.
          </div>

          <div class="modal-footer">
            <a type="button" class="btn btn-danger" href="{% url 'teams:showTraining' %}">Continue</a>
            <button class="btn btn-default" data-dismiss="modal">Go back</button>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block content %}
    <form id="training_form" action="{% url 'teams:createTraining' t_id %}" method="post">
      {% csrf_token %}
      {{ multiplier_formset.management_form }}

      <!-- Training form errors -->
      {% if training_form.errors %}
        {% for field in training_form %}
          {% for error in field.errors %}
            <div class="alert alert-danger" style="text-align: center">
                <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endfor %}
        {% for error in training_form.non_field_errors %}
          <div class="alert alert-danger" style="text-align: center">
              <strong>{{ error|escape }}</strong>
          </div>
        {% endfor %}
      {% endif %}

      <!-- training form -->
      {{ training_form.team }}
      <hr>


      <!-- Multiplier form -->
      <div class="col-sm-12" style="padding: 0">
        <table id="mult" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              {% for multiplier_field in multiplier_formset %}
                <tr>
                  {{ multiplier_field.errors }}
                  {{ multiplier_field.id }}
                  <td>{{ multiplier_field.focus }}</td>
                  <td>{{ multiplier_field.multiplier }}</td>
                  <td class="remove"></td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
      </div>

      <a href="" data-toggle="modal" data-target="#cancelModal" type="button" class="btn btn-danger pull-right" style="margin-left: 5px">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </a>
      <button type="submit" class="btn btn-md btn-primary pull-right" style="margin-left: 5px">
        <span class="glyphicon glyphicon-ok-circle"></span>
      </button>
    </form>
  {% endblock %}

  {% block scripts %}
    <!-- Highlights sidebar links according to page -->
    <script>
      $(function() {
        $('.training').addClass('active');
      });
    </script>

    <!-- Allow reps to be added or removed from set form -->
    <script type="text/javascript" src="{% static 'django-dynamic-formset/src/jquery.formset.js' %}"></script>
    <script>
      $(function() {
          $('#training_form #mult tbody tr').formset({
            addText: 'Add'
          });
      })
    </script>

    <!-- Disables 'remove' function when there is only one rep -->
    <script>
      $(function() {
        document.getElementsByClassName("remove")[0].style.display = "none";
        document.getElementsByClassName("add-row")[0].addEventListener("click", toggleRemove_onAdd);

        function toggleRemove_onAdd() {
          var row_count = $("#mult tr").length;
          if (row_count <= 2){
            document.getElementsByClassName("remove")[0].style.display = "none";
          } else {
            document.getElementsByClassName("remove")[0].style.display = "table-cell";
          }

          var delete_row = document.getElementsByClassName("delete-row")
          for (var i = 0; i < delete_row.length; i++) {
            delete_row[i].addEventListener("click", toggleRemove_onDelete);
          }
        }

        function toggleRemove_onDelete() {
          var row_count = $("#mult tr").length;
          if (row_count <= 2){
            document.getElementsByClassName("remove")[0].style.display = "none";
          } else {
            document.getElementsByClassName("remove")[0].style.display = "table-cell";
          }
        }
      });
    </script>
  {% endblock %}
